@tailwind base;
@tailwind components;
@tailwind utilities;

body, main {
  width: 100%;
  font-family: var(--font-montserrat);
}

.containerPortada {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../public/img/portada.jpg);
  background-color: #0f172a;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;

  /* opacity: 80%; */
}

.textPortada {
  text-align: center;
  color: white;
  font-family: var(--font-cursive);
}

.title {
  text-align: center;
  color: #020617;
  font-family: var(--font-cursive);
  font-size: 2rem;
  line-height: 1.25;
  text-shadow: 1px 1px 4px #17255460;
}

#card, #tips {
  background-image: url(../../public/img/fondo.png);
}

.containerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}